<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather application</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
      <div class="container mt-5">
          <div class="row">
              <div class="col-5"> 
               <h2>Weather in your city</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="city">City</label> 
                    {{ form.name }}
                    <input type="submit" name="send" value="Discover" class="mt-2 btn btn-danger">
                </form>	
              </div>
              <div class="col-5 offset-2"> 
                <h1>Information</h1> 
               
                  {% for info in all_info %} 
                  <div class="alert alert-info">
                      <div class="row">
                        <div class="col-9">    
                    <b>City:</b> {{ info.city }}<br>
                    <b>Temperature:</b> {{ info.temp }}<sup>o</sup><br>
                  </div> 
                  <div class="col-2 offset-1">
                    <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Weather photo"> 
                  </div>
              </div>
            </div>
            {% endfor %} 
      </div>
</body>
</html>